{{ $emojis := dict
    "caution" "fa-fw fas fa-hand"
    "important" "fa-fw fas fa-bolt"
    "info" "fa-fw fas fa-info-circle"
    "note" "fa-fw fas fa-exclamation-circle"
    "tip" "fa-fw fas fa-lightbulb"
    "warning" "fa-fw fas fa-exclamation-triangle" 
  }}
  
  {{ if eq .Type "alert" }}
    {{ if eq .AlertSign "-" }}
      <!-- Collapsible Blockquote -->
      <details class="alert alert-{{ .AlertType }}">
        <summary>
          <i class="{{ index $emojis .AlertType }}"></i>
          {{ .AlertTitle | default (title .AlertType) }}
        </summary>
        {{ .Text | safeHTML }}
      </details>
    {{ else if eq .AlertSign "+" }}
      <!-- Expandable Blockquote -->
      <details open class="alert alert-{{ .AlertType }}">
        <summary>
          <i class="{{ index $emojis .AlertType }}"></i>
          {{ .AlertTitle | default (title .AlertType) }}
        </summary>
        {{ .Text }}
      </details>
    {{ else }}
      <!-- Regular Blockquote -->
      <blockquote class="alert alert-{{ .AlertType }}">
        <summary class="alert-header">
          <i class="{{ index $emojis .AlertType }}"></i>
          {{ .AlertTitle | default (title .AlertType) }}
        </summary>
        <div class="alert-content">
          {{ .Text }}
        </div>
      </blockquote>
    {{ end }}
  {{ else }}
    <!-- Fallback for non-alert blockquotes -->
    <blockquote>
      {{ .Text }}
    </blockquote>
  {{ end }}