{{ define "header_css" }}{{ end }}
{{ define "body_classes" }}page-default-list{{ end }}
{{ define "header_classes" }}{{ end }}

{{ define "main" }}

<div class="post-date">{{ .PublishDate.Format "2006-01-02" }}</div>
<h1 class="title">{{ .Title }}</h1>
<div class="content">
  {{if .Draft}}
    <div class="banner">
      <strong>This is a draft.</strong>
      This page is not shown on the site. Remove <code>draft:true</code> from
      the header to publish the page.
    </div>
  {{end}}  
  {{ .Content }}
</div>

{{ if .Params.author }}
<div class="last-updated">
  Posted by: {{ .Params.author }}
</div>
{{ end }}

<div style="clear: both;"></div>
{{ with .PrevInSection }}
  <a class="previous" href="{{.Permalink}}"><<< {{.Title}}</a>
{{ end }}
{{ with .NextInSection }}
  <a class="next" href="{{.Permalink}}">{{.Title}} >>></a>
{{ end }}

{{ end }}