a.header-anchor {
  text-decoration: none;
  fill: $primary;
  opacity: 0;
}

h1:hover .header-anchor,
h2:hover .header-anchor,
h3:hover .header-anchor,
h4:hover .header-anchor {
  opacity: 1;
  color: $primary;
}
