.docs-menu {
  h4 {
    font-size: 1rem;
    font-weight: bold;
  }
  ul {
    font-size: 0.9rem;
    line-height: 1.4;
    list-style: none;
    margin: 0;
    padding: 0;
    li {
      font-weight: 400;
      margin: 0;
      padding: 4px 0 4px 0;
      &.active {
        a {
          color: lighten($primary, 10%);
          font-weight: 400;
        }
      }
      a {
        color: $black;
        &:hover {
          color: $primary;
        }
      }
    }
  }
  ul.nested {
    font-size: 0.75rem;
    padding-left: 1rem;
    line-height: 1.0;
    a {
      color: lighten($black, 30%);
    }
  }  
}
