{{ define "header_css" }}{{ end }}
{{ define "body_classes" }}page-default-list{{ end }}
{{ define "header_classes" }}{{ end }}

{{ define "main" }}

{{if .Params.wikiname }}
<a href="https://github.com/LeelaChessZero/lc0/wiki/{{ .Params.wikiname }}/_edit" class="overview" target="_blank">
Edit on wiki</a>
{{else}}
<a href="https://github.com/LeelaChessZero/lczero.org/edit/master/content/{{ with .File }}{{ .Path }}{{ end }}" class="overview" target="_blank">
Edit on GitHub</a>
{{end}}
<h1 class="title">{{ .Title }}</h1>
<div class="content">
  {{if .Draft}}
    <div class="banner">
      <strong>This is a draft.</strong>
      This page is not shown on the site. Remove <code>draft:true</code> from
      the header to publish the page.
    </div>
  {{end}}  
  {{ .Content }}
</div>

{{if default true .Params.show_contents}}
  {{ range.Pages }}
  {{ .Render "summary" }}
  {{ end }}
{{ end }}

{{ end }}