

<nav class="doc-sidebar" id="doc-sidebar">
    {{ $currentNode := . }}
    <button id="doc-sidebar-toggle-span" onclick="closeSidebar()">&times;</button>
    <div class="doc-sidebar-content">
        <ul class="topics">
            {{range .FirstSection.Sections.ByWeight}}
            {{template "section-tree-nav" dict "sect" . "currentnode" $currentNode }}
            {{ end }}
        </ul>
    </div>
</nav>

<script>
    // Mobile sidebar toggle functionality
    const overlay = document.getElementById('overlay');
    const sidebarToggles = document.querySelectorAll('[data-sidebar-toggle]');
    const body = document.body;

    // Function to toggle the sidebar status
    function toggleSidebar() {
        body.classList.toggle('sidebar-hidden');
        // sidebarStatus will reflect the current state
        const sidebarStatus = body.classList.contains('sidebar-hidden') ? 'open' : 'closed';
        console.log('Sidebar status:', sidebarStatus); // For debugging, you can remove this
    }

    // Add click event listener to the overlay
    if (overlay) { // Check if overlay exists to prevent errors
        overlay.addEventListener('click', function(event) {
            toggleSidebar();
            event.preventDefault(); // Prevent default action (e.g., if overlay is a link)
        });
    }

    // Function to close the sidebar if it's open and window width is > 768px
    /*function closeSidebarOnLargeScreen() {
        if (window.innerWidth > 768 && !body.classList.contains('sidebar-hidden')) {
            body.classList.add('sidebar-hidden'); // Add the class to hide it
            console.log('Sidebar closed automatically due to large screen size.'); // For debugging
        }
    }*/
    // Add click event listeners to all elements with data-sidebar-toggle
    sidebarToggles.forEach(function(toggle) {
        toggle.addEventListener('click', function(event) {
            toggleSidebar();
            event.preventDefault(); // Prevent default action
        });
    });

    // Add a resize event listener to close the sidebar automatically
    // window.addEventListener('resize', closeSidebarOnLargeScreen);

    // Also call it once on load to handle initial screen size
    // document.addEventListener('DOMContentLoaded', closeSidebarOnLargeScreen);
</script>
<style>
    /* Main container layout */
    .main-container {
        display: flex;
        flex-direction: row;
        /*max-width: var(--content-width, min(100%, 1140px));*/
        
        margin: 0 auto;
        min-height: 100vh;
    }

    /*header > .logo {
        display: none;
    }
    header {
        height: 56px;
        align-items: end;
        flex-direction: row-reverse;

    }
    */

    .content-container, #doc-sidebar {
        transition: all 0.5s ease;
    }

    .content-container {
        padding: 15px 3rem;
        padding-left: 0px;
        margin-left: 300px;
    }

    #doc-sidebar-toggle-span {
        display: none;
    }
    @media only all and (max-width: 47.938em) {
        #doc-sidebar-toggle-span {
            display: inline;
        }
    }
    #doc-sidebar {
        /*background-color: hsl(274, 14%, 19%);*/
        position: fixed;
        top: 76px;
        width: 300px;
        bottom: 0;
        left: 0;
        font-weight: 400;
        font-size: 15px;
    }
    #doc-sidebar a {
        color: var(--content-color);
    }
    /*
    #doc-sidebar a:hover {
        color: #e6e6e6;

    }
    */
    #doc-sidebar a.subtitle {
        color: rgba(204, 204, 204, 0.6);
    }
    #doc-sidebar hr {
        border-bottom: 1px solid #2a232f;
    }
    #doc-sidebar a.padding {
        padding: 0 1rem;
    }
    #doc-sidebar h5 {
        margin: 2rem 0 0;
        position: relative;
        line-height: 2;
    }
    #doc-sidebar h5 a {
        display: block;
        margin-left: 0;
        margin-right: 0;
        padding-left: 1rem;
        padding-right: 1rem;
    }
    #doc-sidebar h5 i {
        color: rgba(204, 204, 204, 0.6);
        position: absolute;
        right: 0.6rem;
        top: 0.7rem;
        font-size: 80%;
    }
    #doc-sidebar h5.parent a {
        background: #201b24;
        color: #d9d9d9 !important;
    }
    #doc-sidebar h5.active a {
        background: #fff;
        /*color: #777 !important;*/
    }
    #doc-sidebar h5.active i {
        color: #777 !important;
    }
    #doc-sidebar h5 + ul.topics {
        display: none;
        margin-top: 0;
    }
    #doc-sidebar h5.parent + ul.topics, #doc-sidebar h5.active + ul.topics {
        display: block;
    }
    #doc-sidebar ul {
        list-style: none;
        padding: 0;
        margin: 0;
    }
    #doc-sidebar ul.topics {
        margin: 0 1rem;
    }
    #doc-sidebar ul.topics.searched ul {
        display: block;
    }
    #doc-sidebar ul.topics ul {
        display: none;
        padding-bottom: 1rem;
    }
    #doc-sidebar ul.topics ul ul {
        padding-bottom: 0;
    }
    #doc-sidebar ul.topics li.parent ul, #doc-sidebar ul.topics > li.active ul {
        display: block;
    }
    #doc-sidebar ul.topics > li > a {
        line-height: 2rem;
        font-size: 1.1rem;
    }
    #doc-sidebar ul.topics > li > a b {
        opacity: 0.5;
        font-weight: normal;
    }
    #doc-sidebar ul.topics > li > a .fa {
        margin-top: 9px;
    }
    #doc-sidebar ul.topics > li.parent, #doc-sidebar ul.topics > li.active {
        background: hsl(327, 30%, 80%);
        margin-left: -1rem;
        margin-right: -1rem;
        padding-left: 1rem;
        padding-right: 1rem;
    }
    #doc-sidebar ul li.active > a {
        background: hsl(327, 82%, 51%);
        /*color: #777 !important;*/
        margin-left: -1rem;
        margin-right: -1rem;
        padding-left: 1rem;
        padding-right: 1rem;
    }
    #doc-sidebar ul li {
        padding: 0;
    }
    #doc-sidebar ul li.visited + span {
        margin-right: 16px;
    }
    #doc-sidebar ul li a {
        display: block;
        padding: 2px 0;
    }
    #doc-sidebar ul li a span {
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        display: block;
    }
    #doc-sidebar ul li > a {
        padding: 4px 0;
    }
    #doc-sidebar ul li.visited > a .read-icon {
        color: #9c6fb6;
        display: inline;
    }
    #doc-sidebar ul li li {
        padding-left: 1rem;
        text-indent: 0.2rem;
    }

    @media only all and (max-width: 59.938em) {
        #doc-sidebar {
            width: 230px;
        }
        .content-container {
            margin-left: 230px;
        }
    }
    @media only all and (max-width: 47.938em) {
        #doc-sidebar {
            width: 230px;
            left: -230px;
        }
        .content-container {
            margin-left: 0;
            width: 100%;
        }
        .sidebar-hidden {
            overflow: hidden;
        }
        .sidebar-hidden #doc-sidebar {
            left: 0;
        }
        .sidebar-hidden .content-container {
            margin-left: 230px;
            overflow: hidden;
        }
        .sidebar-hidden #overlay {
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            z-index: 10;
            background: rgba(255, 255, 255, 0.5);
            cursor: pointer;
        }
    }
    #doc-sidebar ul.topics > li > a .read-icon {
        margin-top: 9px;
    }
    
    #doc-sidebar ul {
        list-style: none;
        padding: 0;
        margin: 0;
    }
    
    #doc-sidebar #shortcuts li {
        padding: 2px 0;
        list-style: none;
    }
    
    #doc-sidebar ul li .read-icon {
        display: none;
        float: right;
        font-size: 13px;
        min-width: 16px;
        margin: 4px 0 0 0;
        text-align: right;
    }
    #doc-sidebar ul li.visited > a .read-icon {
        color: #00bdf3;
        display: inline;
    }
    
    #doc-sidebar #shortcuts h3 {
        font-family: "Novacento Sans Wide", "Helvetica", "Tahoma", "Geneva", "Arial", sans-serif;
        color: white ;
        margin-top:1rem;
        padding-left: 1rem;
    }
</style>

{{ define "section-tree-nav" }}
{{ $currentNode := .currentnode }}
{{ $currentFileUniqueID := "" }}
{{ with $currentNode.File }}{{ $currentFileUniqueID = .UniqueID }}{{ end }}
 {{with .sect}}
  {{if and .IsSection (or (not .Params.hidden) $.showhidden)}}
    {{safeHTML .Params.head}}
    <li data-nav-id="{{.RelPermalink}}" title="{{.Title}}" class="dd-item
        {{if .IsAncestor $currentNode }}parent{{end}}
        {{if eq .File.UniqueID $currentFileUniqueID}}active{{end}}
        {{if .Params.alwaysopen}}parent{{end}}
        ">
      <a href="{{.RelPermalink}}">
          {{safeHTML .Params.Pre}}{{or .Params.menuTitle .LinkTitle .Title}}{{safeHTML .Params.Post}}
      </a>
      {{ $numberOfPages := (add (len ( where .Pages "Params.hidden" "ne" true )) (len ( where .Sections "Params.hidden" "ne" true ))) }}
      {{ if ne $numberOfPages 0 }}
        <ul>
          {{ $currentNode.Scratch.Set "pages" .Pages }}
          {{ if .Sections}}
            {{ $currentNode.Scratch.Set "pages" (.Pages | union .Sections) }}
          {{end}}
          {{ $pages := ($currentNode.Scratch.Get "pages") }}

        {{if eq .Site.Params.ordersectionsby "title"}}
          {{ range $pages.ByTitle }}
            {{ if and .Params.hidden (not $.showhidden) }}
            {{else}}
            {{ template "section-tree-nav" dict "sect" . "currentnode" $currentNode }}
            {{end}}
          {{ end }}
        {{else}}
          {{ range $pages.ByWeight }}
            {{ if and .Params.hidden (not $.showhidden) }}
            {{else}}
            {{ template "section-tree-nav" dict "sect" . "currentnode" $currentNode }}
            {{end}}
          {{ end }}
        {{end}}
        </ul>
      {{ end }}
    </li>
  {{else}}
    {{ if not .Params.Hidden }}
      <li data-nav-id="{{.RelPermalink}}" title="{{.Title}}" class="dd-item {{if eq .File.UniqueID $currentFileUniqueID}}active{{end}}">
        <a href="{{ .RelPermalink}}">
        {{safeHTML .Params.Pre}}{{or .Params.menuTitle .LinkTitle .Title}}{{safeHTML .Params.Post}}
        </a>
    </li>
     {{ end }}
  {{end}}
 {{ end }}
{{ end }}