<div class="docs-menu">
  <h4>{{ .Section | humanize }}</h4>
    <ul>
      {{template "submenu" dict "sect" .FirstSection "docId" .File.UniqueID}}
    </ul>
</div>

{{define "submenu"}}
{{$docId := .docId}}
{{with .sect}}
    {{ range .CurrentSection.Pages.ByWeight }}
    <li class="{{ if eq .File.UniqueID $docId }}active {{ end }}">
      {{ if .Content }}
        <a href="{{ .Permalink }}">{{ .Title }}</a>
      {{ else }}
        {{ .Title }}
      {{ end }}
    </li>
    {{ if .Pages }}
      <li>
      <ul class="nested">
          {{template "submenu" dict "sect" . "docId" $docId}}
      </ul>
      </li>
    {{ end }}
    {{ end }}  
{{end}}
{{end}}