<div class="sub-footer">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="sub-footer-inner">
          <ul>
            <li class="zerostatic"><a href="https://github.com/LeelaChessZero/">GitHub</a></li>
            <li class="zerostatic"><a href="https://discord.gg/pKujYxD">Discord</a></li>
            <li class="zerostatic"><a href="https://groups.google.com/forum/#!forum/lczero">Forum</a></li>
            <li class="zerostatic"><a href="https://x.com/leelachesszero">x.com</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>