{{ define "title" }}{{ .Site.Title }}{{ end}}
{{ define "header_css" }}{{ end }}
{{ define "body_classes" }}page-home{{ end }}
{{ define "header_classes" }}{{ end }}

{{ define "main" }}
<div class="strip">
  <div class="container pt-4 pb-16">
    <div class="row">
      <div class="col-12">
        <h1 class="title">{{ .Title | default .Site.Title }}</h1>
        <div class="content">
          {{ if .Content }}
          {{ .Content }}
          {{ else }}
          <p>{{ .Site.Params.homepage_intro }}</p>
          {{ end }}
        </div>
        {{ range .Site.Params.homepage_button }}
        <a class="button button-primary mb-2" href="{{ .link | relURL }}">
          {{ .text }}
        </a>
        {{ end }}
      </div>
    </div>
  </div>
</div>

{{ if .Site.Params.homepage_image }}
<div class="strip">
  <div class="container pt-4 pb-4">
    <div class="row justify-content-center">
      <div class="col-12 col-md-10">
        <div class="terminal">
          <img src="{{ .Site.Params.homepage_image | relURL}}" />
          Looking for the training site? It's
          <a href="//lczero.org">here</a>.
        </div>
      </div>
    </div>
  </div>
</div>
{{ end }}


{{ end }}

{{ define "footer_js" }}
{{ end }}
