{{ $width := .Attributes.width }}
{{ $height := .Attributes.height }}
{{ $class := .Attributes.class | default "" }}
<div class="goat svg-container {{ $class }}">
  {{ with diagrams.Goat .Inner }}
    <svg
      xmlns="http://www.w3.org/2000/svg"
      font-family="roboto mono, monospace"
      width="{{ with $width }}{{ . }}{{ else }}{{ .Width }}{{ end }}"
      height="{{ with $height }}{{ . }}{{ else }}{{ .Height }}{{ end }}"
      viewBox="0 0 {{ .Width }} {{ .Height }}">
      {{ .Inner }}
    </svg>
  {{ end }}
</div>