<div class="footer-content">
    
    <!-- Theme switch button -->
    <button id="theme-toggle" aria-label="Toggle Theme" title="Toggle Theme">
        <i id="theme-icon" class="ri--sun-line" aria-hidden="true"></i>
    </button>
        {{ range .Site.Params.footerIcons }}
            <a href="{{ .url }}" target="_blank" rel="noopener noreferrer" aria-label="{{ .name }}" title="{{ .name }}">
                <i class="{{ .icon }}" aria-hidden="true"></i>
            </a>
        {{ end }}
    </div>