<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
<title>{{ if .IsHome }}{{ site.Title }}{{ else }}{{ printf "%s | %s" .Title site.Title }}{{ end }}</title>
{{ partial "head/opengraph.html" . }}
{{ partialCached "head/css.html" . (.Page.Scratch.Get "requiredCSS") }}
{{ partialCached "head/js.html" . (.Page.Scratch.Get "requiredJS") }}
{{ if .Param "math" }}
  {{ partialCached "math.html" . }}
{{ end }}
{{ if .Params.LoadChessbaseScripts }}
  <link rel="stylesheet" type="text/css" href="//pgn.chessbase.com/CBReplay.css"/>
  <script src="//pgn.chessbase.com/jquery-3.0.0.min.js"></script>
  <script src="//pgn.chessbase.com/cbreplay.js" type="text/javascript"></script>  
{{ end }}
{{ partialCached "analytics.html" . }}