<nav id="main-menu" class="main-menu">
  <ul>
    {{ $site := .Site }}
    {{ $currentPage := .FirstSection }}
    {{ range .Site.Menus.main }}
    <li class="menu-item-{{ .Name | lower }}
        {{ if eq ($site.GetPage .URL).FirstSection $currentPage }}
          active
        {{ end }}">
      <a href="{{ .URL }}">
      {{ $name := .Name }}
      {{ with .Identifier }}
        {{ with T . }}
          {{ $name = . }}
        {{ end }}
      {{ end }}
        <span>{{ $name }}</span>
      </a>
    </li>
    {{end}}
    <li class="menu-item-theme-switch">
      <!-- Theme switch button -->
      <button id="theme-toggle" aria-label="Toggle Theme" title="Toggle Theme">
          <i id="theme-icon" class="ri--sun-line" aria-hidden="true"></i>
      </button>
    </li>
  </ul>
</nav>