<button class="sidebar-toggle" aria-label="Toggle navigation">
  <span class="material-symbols--arrow-menu-open-rounded"></span>
  <span class="sidebar-toggle-text">Section Menu</span>
</button>
<div class="sidebar-overlay"></div>
<nav class="sidebar">    
<div class="sidebar-header">
    <span class="material-symbols--close"></span>
<h4>{{ .Section | humanize }}</h4>
</div>
<ul>
    {{template "submenu" dict "sect" .FirstSection "docId" .File.UniqueID}}
</ul>
</nav>

{{define "submenu"}}
{{$docId := .docId}}
{{with .sect}}
{{ range .CurrentSection.Pages.ByWeight }}
<li>
    {{ if .Content }}
    <a class="{{ if eq .File.UniqueID $docId }}active {{ end }}" href="{{ .Permalink }}">{{ .Title }}</a>
    {{ else }}
    <span class="nonselectable">{{ .Title }}</span>
    {{ end }}
</li>
{{ if .Pages }}
<li>
    <ul class="nested">
        {{template "submenu" dict "sect" . "docId" $docId}}
    </ul>
</li>
{{ end }}
{{ end }}
{{end}}
{{end}}